@import "../../assets/Fonts/Fonts.scss";
@import "../../assets/Colors/Colors.scss";

.popup {
  min-width: 20rem;
  max-width: 40rem;
  padding: 1rem;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: centers;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: $font-roboto;

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  p {
    font-size: 1.2rem;
  }

  button {
    margin-top: 1rem;
    background-color: $pink;
    border-radius: 999px;
    align-self: center;
    width: 12rem;
    height: 3.5rem;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 1rem;
    border: 3px solid transparent;
    outline: none;
    transition: 1s ease-in-out all;

    &:hover {
      border: 3px solid white;
      cursor: pointer;
    }
  }

  &__complete{
    display: flex;
    flex-direction: column;
  }
}

.popup img {
  padding-top: 1rem;
  padding-bottom: 2rem;
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}
